*.zip
*.pyc
slurm/
pdf.code-workspace
__pycache__
*.tgz
*.log
logging/
lightning_logs/
*.pickle
dataset/*
temporary/*
tensorboard_logs/*
data/*
*.db
embedding_weight/
logging/
*.png
kfold/*
examples/
*.7z
results/
model_checkpoint/*
!.gitignore
.ipynb_checkpoints/
slurm_gpustat.py
*.ipynb