*.zip
*.pyc
slurm/
pdf.code-workspace
__pycache__
*.tgz
*.log
logging/
lightning_logs/
*.pickle
dataset/
!dataset/CLEAN_PDF_9000_files.zip
!dataset/MALWARE_PDF_PRE_04-2011_10982_files.zip
temporary/*
!.gitignore